:root{
      --nav-bg:#344CB7;
      --li-bg:#577BC1;
      --front-clr:#fff;
      --front-clr2:#000000;
      --front-clr3:#7D8185;
      --content_bg:#F2F8F8;
}
@keyframes appear{
      from{
            opacity: 0;
            scale: 0.5;
      }
      to{
            opacity: 1;
            scale: 1;
      }
}
@keyframes slideLeft{
      from{
            opacity: 0;
            transform: translateX(-100%);
      }to{
            opacity: 1;
            transform: translateX(0);
      }
}
@keyframes slideRight{
      from{
            opacity: 0;
            transform: translateX(100%);
      }to{
            opacity: 1;
            transform: translateX(0);
      }
}
.home_container{
      margin-top: 5rem;
      min-height: 100vh;
}
.start_content{
      width: clamp(20%,50%,70%);
      transform: translate(50%);
      text-align: center;
      margin: 12rem 0;
      line-height: 2rem;
      
      .home_title{
            position: relative;
            font-size: 4.2vw;
            text-shadow:  0px 15px 15px rgba(0, 0, 0, 0.6);
            line-height: 4rem;
      }
      .home_subtitle{
            margin-top: 1rem;
            letter-spacing: 2px;
      }
}
.reacthooks_content{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      h2{
            font-size: 2.5vw;
            font-weight: 400;
            animation: appear linear;
            animation-timeline: view();
            animation-range: entry 0% cover 50%;

      }
      .explaination{
            padding: 10px;
            display: flex;
            justify-content: center;
            gap: 2rem;
            p{
                  text-align: start;
                  width: clamp(10rem,35vw,45rem);
            }
            .hook_explain{
                  animation: slideLeft linear;
                  animation-timeline: view();
                  animation-range: entry 0% cover 40%;
            }
            .rule_hooks{
                  animation: slideRight linear;
                  animation-timeline: view();
                  animation-range: entry 0% cover 40%;
            }
      }
}
.react_hook_meaning .hook_img{
      margin: 4rem 0; 
      width: clamp(30%,100%,110%);
}
.react_hook_meaning .hook_img .img_content{
   display: flex;
   background: var(--content_bg);
   height: 35rem;
   align-items: center;   
   gap: 1.7rem;
   margin-bottom: 3rem;
   padding: 0 2rem;
   
   p:not(span){
      color: var(--front-clr3);
      text-align: start;
      line-height: 2rem;
      font-size: clamp(0.5rem, 1.2vw,1.5rem);
      animation: slideRight linear;
      animation-timeline: view();
      animation-range: entry 0% cover 40%;
      h2{
            color: var(--front-clr2);
            text-align: start;
            margin-bottom: 1rem;
      }
      span{
            color: var(--front-clr2);
            font-weight: 600;
      }
}
   
}
.react_hook_meaning .hook_img .img_content img{
      width: clamp(10rem,35vw,40rem);
      aspect-ratio: 1;
      animation: slideLeft linear;
      animation-timeline: view();
      animation-range: entry 0% cover 40%;
      
}
.react_hook_meaning .hook_img .img_content2{
      margin: 4rem 0;
      display: flex;
      width: 100%;
      justify-content: center;
      gap: 2rem;
      
}
.react_hook_meaning .hook_img .img_content2 img:first-child{
      width: clamp(10rem,30vw,50rem);
      animation: slideLeft linear;
      animation-timeline: view();
      animation-range: entry 0% cover 20%;
}
.react_hook_meaning .hook_img .img_content2 img:nth-child(2){
      width: clamp(10rem,30vw,50rem);
      animation: slideRight linear;
      animation-timeline: view();
      animation-range: entry 0% cover 20%;
}

.typescript_content{
      margin: 3rem 0;

}
.typescript_content .typescript_meaning{
      h2{
            text-align: center;
            font-size: 2.5vw;
            font-weight: 400;
            animation: appear linear;
            animation-timeline: view();
            animation-range: entry 50% cover 50%;
      }
      .typescript_explain{
            display: flex;
            justify-content: center;
            width: 100%;
            padding: 2rem 3rem;
            gap: 2rem;
            animation: appear linear;
            animation-timeline: view();
            animation-range: entry 30% cover 40%;
            p{
                  line-height: 1.8rem;
            }
            span{
                  font-size: 2vw;
                  margin: 3rem;
            }
      }
      .typescript_img{
            padding: 1rem 0.8rem;
            background: var(--content_bg);
      }
      .typescript_img .ts{
            display: flex;
            align-items: center;
            gap: 2rem;
            justify-content: space-between;
            margin: 2rem 0; 
            p{
                  font-size: clamp(0.7rem,1.7vw,2rem);
                  text-align: center;
                  margin: 0 1rem;
            }  
      }
      .typescript_img .typescript_img1{

            animation: slideLeft linear;
            animation-timeline: view();
            animation-range: entry 0% cover 30%;
            img{
                  width: clamp(10rem,40vw,50rem);
            }
      }
      .typescript_img .typescript_img2{

            animation: slideRight linear;
            animation-timeline: view();
            animation-range: entry 0% cover 30%;
            img{
                  width: clamp(10rem,40vw,50rem);

            }
      }
      .typescript_img .typescript_img3{
            animation: slideLeft linear;
            animation-timeline: view();
            animation-range: entry 0% cover 10%;
            img{
                  width: clamp(10rem,40vw,50rem);

            }
      }
      .typescript_img .typescript_img4{

            animation: slideRight linear;
            animation-timeline: view();
            animation-range: entry 0% cover 30%;
            img{
                  width: clamp(10rem,40vw,50rem);

            }
      }
}



