:root{
      --nav-bg:#344CB7;
      --li-bg:#577BC1;
      --union_enum_bg:#7597dc;
      --front-clr:#fff;
      --front-clr2:#000000;
      --front-clr3:#7D8185;
      --border_clr:#296249;
      --content_bg:#F2F8F8;
      --btn_bg:#f76b8a;
}
.union_enum_container{
      padding: 2rem;
      min-height: 100vh;
      .enum_union_explaination{
            text-align: center;
            margin: 1rem 7rem;
            h1{
                  text-align: center;
                  margin: 1rem 0;
                  font-size: clamp(3rem,4vw,5rem);
                  font-weight: 700;
                  span{
                        color: var(--nav-bg);
                        font-weight: 600;
                  }
            }
      h2{
            font-size: clamp(1.5rem,2vw,3rem);
            color: var(--nav-bg);
            font-weight: 500;
            margin: 1rem;

      }
      }
      .demo_code_screen{
            width: 50%;
            aspect-ratio: 5/4;
            overflow-y: scroll;
            h3{
                  color: var(--front-clr);
                  font-weight: 600;
                  padding: 1rem;
                  background: var(--front-clr2);
                  margin-bottom: -7px;
                  border-radius: 10px 10px 0 0;
            }
      }

}
.union_enum_container.lighten{
      background: var(--content_bg);

}
.union_enum_container.darker{
      background: var(--front-clr2);
      color: var(--content_bg);

}
.union_enum_mini{
      /* background: var(--front-clr3); */
      display: flex;
      padding: 1rem;
      padding: 1.5rem;
      gap: 4rem;
      h1{
            font-size: 2rem;
            /* color: var(--front-clr2); */
            text-align: center;
            
      }
}
.union_enum_container .input_box_union{
      margin: 1rem auto;
      position: relative;
      width: clamp(18rem,30vw,40rem);
      aspect-ratio: 5/1;
      .inputField{
            padding: 1rem;
            width: 100%;
            border: 1px solid rgba(226, 216, 216, 0.8);
            background: transparent;
            border-radius: 1rem;
            outline: none;
            font-size: clamp(0.7rem,1.2vw,2rem);
            overflow: hidden;
      }
      .label_inputField{
            position: absolute;
            left: 5%;
            top: 12%;
            padding: 0.5rem 0.5rem; 
            font-size: clamp(0.7rem,1.2vw,2rem);
            pointer-events: none;
            transition: 0.3s ease;
            line-height: 10px;
      }
}
.union_enum_container .input_box_union .inputField:valid~.label_inputField,
.union_enum_container .input_box_union .inputField:focus~.label_inputField{
      color: var(--border_clr);
      transform: translate(10%,-100%);
      font-size: clamp(0.4rem,1vw,1.2rem);
      border-left: 2px solid var(--border_clr);
      border-right: 2px solid var(--border_clr);
}
.union_enum_container .input_box_union .inputField:valid~.label_inputField.lighten,
.union_enum_container .input_box_union .inputField:focus~.label_inputField.lighten{
      background: var(--content_bg);
}
.union_enum_container .input_box_union .inputField:valid~.label_inputField.darker,
.union_enum_container .input_box_union .inputField:focus~.label_inputField.darker{
      color: var(--front-clr);
      background: var(--front-clr2);
}

.union_enum_container .input_box_union .inputField:valid,
.union_enum_container .input_box_union .inputField:focus{
      border:  2px solid var(--border_clr);
}

.union_enum_container .union_enum_mini .input_box_union .btn_submit_checked{
      margin: 2rem auto;
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      button{
            padding: 1rem 2rem;
            border-radius: 10px;
            outline: none;
            border: none;
            cursor: pointer;
            background: var(--border_clr);
            color: var(--front-clr);
            transition: 0.2s ease;
           
      }
      .union_enum_btn_theme button{
            background: var(--btn_bg);
      }
}
.union_enum_container .union_enum_mini .input_box_union .btn_submit_checked button:hover{
      opacity: 0.8;
}
.union_enum_container .union_enum_mini .listStu_admin{
      table{
            margin: auto;
            width: 50%;
            border-collapse: collapse;
      }
      th,td{
      padding: 1rem;
      border: 1px solid var(--front-clr2);
      text-align: left;
      /* color: var(--front-clr2); */
      }
      tr:nth-child(even){
            background: var(--nav-bg);
      }
}
.union_enum_container .union_enum_mini .listStu_admin.darker{
      th,td{
      border: 1px solid var(--content_bg); 
      }
   
}