:root{
      --nav-bg:#344CB7;
      --li-bg:#577BC1;
      --union_enum_bg:#7597dc;
      --front-clr:#fff;
      --front-clr2:#000000;
      --front-clr3:#7D8185;
      --border_clr:#296249;
      --content_bg:#F2F8F8;
      --btn_bg:#f76b8a;
}
.union_enum_container{
      padding: 2rem;
      min-height: 87.5vh;
}
.union_enum_container.light{
      background: var(--union_enum_bg);

}
.union_enum_container.dark{
      background: var(--front-clr2);

}
.union_enum_mini{
      /* background: var(--front-clr3); */
      padding: 1.5rem;
      h1{
            color: var(--front-clr);
            text-align: center;
            
      }
}
.union_enum_container .input_box_union{
      margin: 1rem auto;
      position: relative;
      width: clamp(18rem,30vw,40rem);
      aspect-ratio: 5/1;
      /* background: var(--li-bg); */
      .inputField{
            padding: 1rem;
            width: 100%;
            border: 1px solid rgba(226, 216, 216, 0.8);
            background: transparent;
            border-radius: 1rem;
            outline: none;
            color: var(--front-clr);
            font-size: clamp(0.7rem,1.2vw,2rem);
            overflow: hidden;
      }
      .label_inputField{
            position: absolute;
            left: 5%;
            top: 12%;
            padding: 0.5rem 0.5rem; 
            font-size: clamp(0.7rem,1.2vw,2rem);
            pointer-events: none;
            color: var(--front-clr);
            transition: 0.3s ease;
            line-height: 10px;
      }
}
.union_enum_container .input_box_union .inputField:valid~.label_inputField,
.union_enum_container .input_box_union .inputField:focus~.label_inputField{
      color: var(--border_clr);
      transform: translate(10%,-100%);
      font-size: clamp(0.4rem,1vw,1.2rem);
      border-left: 2px solid var(--border_clr);
      border-right: 2px solid var(--border_clr);
}
.union_enum_container .input_box_union .inputField:valid~.label_inputField.light,
.union_enum_container .input_box_union .inputField:focus~.label_inputField.light{
      background: var(--union_enum_bg);
}
.union_enum_container .input_box_union .inputField:valid~.label_inputField.dark,
.union_enum_container .input_box_union .inputField:focus~.label_inputField.dark{
      background: var(--front-clr2);
}

.union_enum_container .input_box_union .inputField:valid,
.union_enum_container .input_box_union .inputField:focus{
      border:  2px solid var(--border_clr);
}

.union_enum_container .union_enum_mini .input_box_union .btn_submit_checked{
      margin: 2rem auto;
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      button{
            padding: 1rem 2rem;
            border-radius: 10px;
            outline: none;
            border: none;
            cursor: pointer;
            background: var(--border_clr);
            color: var(--front-clr);
            transition: 0.2s ease;
           
      }
      .union_enum_btn_theme button{
            background: var(--btn_bg);
      }
}
.union_enum_container .union_enum_mini .input_box_union .btn_submit_checked button:hover{
      opacity: 0.8;
}
.union_enum_container .union_enum_mini .listStu_admin{
      table{
            margin: auto;
            width: 50%;
            border-collapse: collapse;
      }
      th,td{
      padding: 1rem;
      border: 1px solid var(--front-clr);
      text-align: left;
      color: var(--front-clr);
      }
      tr:nth-child(even){
            background: var(--nav-bg);
      }
}