.box {
    background-color: rgb(232, 235, 234);
    padding: 0 20px; 
    margin: 1rem auto; 
    width: 40%;
    border: 1px solid black;
}

.title {
    line-height: 1.6em;
    width: 50%;
    margin: 5px 0;
    text-decoration: underline;
}

.input {
    margin: 0px;
    width: auto;
    height: 40px;
    font-size: 24px;
}
.button{
    margin: 0px;
    padding: 0 2px;
    width: auto;
    height: 40px;
    font-size: 24px;
    background-color: white;
}
.list{
    font-size: 24px;
    padding: 0px;
    margin: 5px;
}
